@media screen and (min-width: 1px), (min-width: 768px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: flex;
  }
}
.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.activity__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.activity__list .activity__item {
  position: relative;
  margin-right: 30px;
}
.activity__list .activity__item:nth-child(3) {
  margin-right: 0;
}
.activity__box {
  position: absolute;
  bottom: 0;
  display: flex;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.4);

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
