.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.card__link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.card__item {
  width: 370px;
  // margin-right: 30px;
  // margin-bottom: 30px;
  list-style: none;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  // &:nth-child(3n) {
  //   margin-right: 0;
  // }
  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
  .card__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 60px) / 3);
  }
  .card__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .card__item:nth-child(3n) {
    margin-right: 0px;
  }
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.card__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}
.card__box {
  background: var(--white);
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__action {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;

  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0%);
    background-color: rgba(33, 150, 243, 0.9);
  }
}
