.filtration {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtration__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filtration__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.filtration__item {
  margin-bottom: 15px;
}
.filtration__list .filtration__item:not(:last-child) {
  margin-right: 8px;
}
.filtration__button {
  color: var(--primary-text-color);
  background-color: var(--primery-bg-color);
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
