.footer-form {
  margin-top: 60px;
  display: flex;
}
.action {
  display: flex;
}
.footer-form__button {
  margin-top: 20px;
  // display: inline-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px;
  height: 50px;
  color: var(--white);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  // margin-left: 12px;
}
.footer-form__subscribe {
  margin-right: 10px;
}
.footer-form__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.footer-form__input {
  position: relative;
  width: 450px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__icon::after {
  width: 24px;
  height: 24px;
}
