.navigation__logo,
.footer__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.navigation__logo--s {
  color: var(--primary-text-color);
}
.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.header__button .header__icon--cross {
  display: none;
}
.header__button.is-open .header__icon--cross {
  display: block;
}
.header__button.is-open .header__icon--menu {
  display: none;
}
.page-header {
  position: relative;
  justify-content: space-between;
}
.container-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.navigation,
.page-header {
  display: flex;
  align-items: center;
}

.navigation__main {
  display: flex;
  margin-left: 93px;
  list-style: none;
}
.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .navigation__main &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__main .navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__main .navigation__link--current {
  text-decoration: none;
}

.navigation__main .navigation__link:hover,
.navigation__main .navigation__link:focus,
.navigation__main .navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact {
  display: flex;
  padding: 0;
  list-style: none;
}
.contact__link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .contact &:not(:last-child) {
    margin-right: 50px;
  }
}
.contact__icon {
  align-self: center;
  margin-right: 10px;
  fill: currentColor;
}
.box-header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
