.navigation {
  // .page-header {
  display: flex;
  align-items: center;
}
.navigation__logo,
.footer__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  @media screen and(min-width:1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.navigation__logo--s {
  color: var(--primary-text-color);
}
.navigation {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__button {
  top: 0;
  right: 0;
  margin-left: auto;
  color: #000;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__button:hover .header__icon--cross,
.header__button:focus .header__icon--cross {
  fill: #2196f3;
}
.box-header {
  border-bottom: 1px solid #ececec;
}
.header__button.is-open {
  position: fixed;
  right: 3%;
  z-index: 3;
  &.is-open .header__icon--cross {
    display: block;
  }
  &.is-open .header__icon--menu {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__icon--cross {
  display: none;
}
.header__icon--cross,
.container-menu {
  fill: currentColor;
}

.container-menu {
  display: none;

  position: fixed;
  top: 0;
  left: -2px;

  padding-left: 40px;
  width: calc(100vw + 2px);
  height: 100vh;
  background-color: var(--white);
  // display: flex;
  // position: fixed;
  // display: none;
}
.container-menu.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 46px 40px;

  z-index: 1;
}

.navigation__main {
  display: flex;
  flex-direction: column;
}
.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.navigation__link--current {
  position: relative;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.77;
  letter-spacing: 0.02em;

  color: #757575;
}

.contact__link--tel {
  // display: flex;
  // color: var(--primary-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2196f3;
  // font-size: 14px;
  // line-height: 1.14;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.contact__link--email {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.contact__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__link--email {
    margin-top: 0;
  }
  .container-menu.is-open {
    padding: 0;
  }
}
.soc {
  display: flex;
  justify-content: baseline;
  margin-top: 64px;
}
.soc__item {
  padding: 5px 10px;
}
.soc__item:not(:last-child) {
  border-right: 1px solid #757575;
}
.soc__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .container-menu.is-open {
    flex-direction: row;
  }
  .soc {
    display: none;
  }
  .container-menu {
    position: relative;
    display: flex;
    align-items: center;

    padding-left: 0;
    width: 100%;
    height: 100%;

    background-color: #fff;
  }
  .navigation {
    justify-content: space-between;
    padding: 0;
  }
  .navigation__main {
    display: inline-flex;
    flex-direction: row;
    margin-left: 88px;
  }
  .navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-bottom: 36px;
    padding-top: 36px;
  }
  .navigation__link--current {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .navigation__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .navigation__main .navigation__link:hover,
  .navigation__main .navigation__link:focus,
  .navigation__main .navigation__link--current {
    color: var(--accent-color);
  }
  navigation__item:not(:last-child) {
    margin-bottom: 32px;
    // .navigation__item {
    //   margin: 0;
    // }
  }
  .contact {
    flex-direction: column-reverse;
    margin-left: 84px;
  }
  .contact__link--email,
  .contact__link--tel {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    display: flex;
  }

  .contact__icon {
    display: flex;
    margin-right: 8px;
  }
}
@media screen and(min-width:768px) {
  .contact {
    align-items: start;
  }
  .contact__item {
    display: flex;
    justify-content: center;
  }
  .contact__item:nth-child(1) {
    margin-top: 10px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and(min-width:1200px) {
  .contact {
    flex-direction: row;
    justify-content: center;
  }
  .contact__item:nth-child(1) {
    margin-top: 0;
    margin-right: 30px;
  }
  .container-menu {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
  }
}
