.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 14, 13, 0.5);
}
.backdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: var(--white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width:1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 6px;

  &:hover {
    color: var(--accent-color);
  }
}
.modal__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 11px;

  &:hover {
    fill: currentColor;
  }
}
