.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__section {
  background: #f5f4fa;
}
// .team__list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   list-style: none;
//   margin-left: auto;
//   margin-right: auto;
// }
// .team__list {
//   display: flex;
//   justify-content: space-between;
//   list-style: none;
// }
.team__item {
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

.team__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  text-align: center;
  margin-bottom: 50px;
  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
.work {
  margin-right: auto;
  margin-left: auto;
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}
.work__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.work__position {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.social__list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 30px;
}
.social__item:first-child {
  margin-left: 32px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white);
  }
}

.social__icon {
  fill: currentColor;
}
