body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03 em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
img {
  display: block;
  text-decoration: none;
}
